<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\user\FatherBotDB.db;Version=3;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DBFilepath" value=".\user\FatherBotDB.db" />
    <add key="RootDir" value=".\user\"/>
  </appSettings>
</configuration>